<div class="box">
  <h2>Sign up</h2>
  <p>Welcome to the Simct App</p>
  <form
    #signUpForm="ngForm"
    (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)"
  >
    <label>UserName</label>
    <div class="inputBox">
      <input
        type="text"
        #username="ngModel"
        [(ngModel)]="userService.selectedUser.username"
        name="username"
        required
        [ngClass]="{
          'invalid-textbox': signUpForm.submitted && !username.valid
        }"
      />
      <div *ngIf="signUpForm.submitted && !username.valid">
        <label class="validation-message">This field is required.</label>
      </div>
    </div>
    <label>Password</label>
    <div class="inputBox">
      <input
        type="password"
        #password="ngModel"
        [(ngModel)]="userService.selectedUser.password"
        name="password"
        minlength="4"
        required
        [ngClass]="{
          'invalid-textbox': signUpForm.submitted && !password.valid
        }"
      />
      <div *ngIf="signUpForm.submitted && password.errors">
        <label *ngIf="password.errors.required" class="validation-message"
          >This field is required.</label
        >
        <label *ngIf="password.errors.minlength" class="validation-message"
          >Enter atleast 4 characters.</label
        >
      </div>
    </div>

    <div>
      <p>Already have an Account ? <a routerLink="/login">Sign In</a></p>
    </div>

    <!-- Success message -->
    <div class="success" *ngIf="showSucessMessage">
      Saved successfully
    </div>

    <!-- Error message -->
    <div class="alert" *ngIf="serverErrorMessages">
      {{ serverErrorMessages }}
    </div>
    <div>
      <input type="submit" value="Sign Up" />
    </div>
  </form>
</div>
