
.logoutbtn {
  background-color: #5499c7;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  /* margin: 1px 1px; */
  cursor: pointer;
  float: right;
}
.userbox {
  float: left;
  padding: 10px 10px;
}
